table{
	width:950px;
	height:400px;
	border: 3px solid white;
	margin: 50px auto;
}
table tr td img{
	width: 130;
	height:90;
	margin-left:20px;
}
table tr td span{

	margin-left:20px;
}
.dong1{
	background-color:#5B5B5B;
	color:white;
	height: 40;
	
	
}
.dong2{
	background-color:#F1F1F1;
	
}
.cot1{
	width: 150px;

}
.cot2{
	width: 450px;

}
.cot3{
	
	width: 350px;
}